.base {
  background: rgba(215, 215, 215, 0.97);
  width: 492px;
  height: 378px;
  padding: 60px;
}

.screen {
  /* width: 369px; */
  width: 100%;
  height: 49px;
}

.inner {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.btn {
  width: 35px;
  height: 29px;
  background-color: #6367dd;
  color: white;
  border-radius: 8px;
  outline: none;
  box-shadow: 20px 18px 35px -4px rgba(0, 0, 0, 0.75);
}
.button-line {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
